# dependencies
node_modules/

# next.js
.next/
out/
dist/
.turbo/

# prisma
.prisma/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# editor / os
.DS_Store
Thumbs.db
.vscode/

# test / coverage
coverage/
tsconfig.tsbuildinfo

# docker
docker-data/
postgres-data/
